body{

}

table{
    text-align: center;
    margin: auto;
    border-style: solid;
    border-color: black;
    background-color: darkgrey;
}

th, td{
    background-color: lavenderblush;
    border-style: solid;
    border-color: black;
}
.centerbutton{
    text-align: center;
}

#overalltext{
    text-align: right;
}